# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Virtual environment
venv/

# Large data files
Final_Assignment_1/*.json
Final_Assignment_1/*.csv
Assignment_7/volumes/

# Database files
*.sst
*.wal
*.log